<div class="tw-pt-12 tw-flex tw-flex-wrap tw-items-start tw-gap-4">

  <div class="tw-relative tw-flex tw-w-max special-offers-card">
    <img src="../../../../assets/images/Rectangle 17921.svg" alt="">
    <div class="tw-absolute tw-flex tw-justify-between tw-pl-48">
      <div class="tw-pl-28 tw-pt-14">
        <span class="tw-flex tw-items-center tw-gap-2">
          <i class="pi pi-minus"></i>
          <p class="tw-text-base tw-font-normal">Special Offers</p>
        </span>
        <span>
          <p class="tw-text-4xl tw-font-semibold">Note Books</p>
        </span>
        <span>
          <p class="tw-font-normal tw-w-52"><span>35% off</span>on all premium note books.</p>
        </span>
      </div>
      <div class="-tw-ml-4 tw-pt-4">
        <p-button icon="pi pi-arrow-up-right" styleClass="p-button-rounded custom-button"></p-button>
      </div>
    </div>
  </div>

  <div class="tw-w-[17rem] tw-h-[26rem] tw-bg-stone-100 tw-rounded-[2rem] product-card">
    <div class="tw-pt-16 tw-pl-4 tw-pr-3.5 tw-pb-5">
      <img src="../../../../assets/images/pngwing 1.svg" alt="">
    </div>
    <div class="tw-flex tw-gap-4 tw-items-center tw-pr-6 tw-pl-6">
      <span>
        <p class="tw-text-sm tw-font-normal tw-uppercase tw-w-max">Nike</p>
        <span class="tw-text-base tw-font-medium">
          <p class="tw-w-max">NK flex Experience</p>
          <p>Run</p>
        </span>
      </span>
      <p-button label="₹ 7600" class="custom-button"></p-button>
    </div>
  </div>

  <div class="check-now-card tw-relative">
    <div class="tw-absolute tw-flex">
      <div class="tw-pl-8 tw-pt-8 tw-flex tw-flex-col tw-gap-3.5">
        <p class="tw-text-amber-950 tw-text-4xl tw-font-semibold tw-uppercase tw-w-80">Get upto 50% discount</p>
        <p-button label="Check Now" styleClass="p-button-rounded" class="custom-button"></p-button>
      </div>
    </div>
    <img src="../../../../assets/images/Rectangle 17922.svg" alt="">
  </div>

</div>
