<div class="tw-flex tw-flex-wrap tw-container">
  <div class="tw-font-urban tw-flex-1">
    <span class="tw-pt-[4.75rem] tw-pl-6 tw-text-7xl tw-font-bold tw-w-8/12 tw-flex"><p><span class="tw-text-gray-400">New</span> Products in <span class="head-grey">Store.</span></p></span>
    <p class="desc tw-text-xl tw-font-medium tw-pl-7 tw-pt-3 tw-pb-6">Decorate your digital or real world with beautiful and creative art works.</p>
    <div class="tw-pl-6 tw-pb-12">
      <p-button label="Explore" icon="pi pi-arrow-right" iconPos="right" styleClass="p-button-rounded p-button-raised p-button-text p-button-secondary tw-w-72"></p-button>
    </div>
  </div>
  <div class="tw-flex">
    <div class="tw-pr-4 tw-flex tw-items-end">
      <div class="tw-flex tw-absolute -tw-ml-32 tw-pb-16">
        <img src="../../../assets/images/Group 97956.svg" alt="group">
      </div>
      <img src="../../../assets/images/Subtract.svg" alt="Subtract">
    </div>
    <div class="tw-flex">
      <img src="../../../assets/images/Subtract (1).svg" alt="Subtract1">
    </div>
  </div>
</div>
<app-new-product-card-list></app-new-product-card-list>
